& {
  // accents
  --accents-01: #fafdfe;
  --accents-02: #f2fafb;
  --accents-03: #def7f9;
  --accents-04: #caf1f6;
  --accents-05: #b5e9f0;
  --accents-06: #9ddde7;
  --accents-07: #7dcedc;
  --accents-08: #3db9cf;
  --accents-09: #00a2c7;
  --accents-10: #0797b9;
  --accents-11: #107d98;
  --accents-12: #0d3c48;
}
