& {
  --neutral-01: #fcfcfd;
  --neutral-02: #f9f9fb;
  --neutral-03: #f0f0f3;
  --neutral-04: #e8e8ec;
  --neutral-05: #e0e1e6;
  --neutral-06: #d9d9e0;
  --neutral-07: #cdced6;
  --neutral-08: #b9bbc6;
  --neutral-09: #8b8d98;
  --neutral-10: #80838d;
  --neutral-11: #60646c;
  --neutral-12: #1c2024;
}
