& {
  //Red
  --semantics-red-01: #fffcfc;
  --semantics-red-02: #fff7f7;
  --semantics-red-03: #feebec;
  --semantics-red-04: #ffdbdc;
  --semantics-red-05: #ffcdce;
  --semantics-red-06: #fdbdbe;
  --semantics-red-07: #f4a9aa;
  --semantics-red-08: #eb8e90;
  --semantics-red-09: #e5484d;
  --semantics-red-10: #dc3e42;
  --semantics-red-11: #ce2c31;
  --semantics-red-12: #641723;

  // Green
  --semantics-green-01: #fbfefc;
  --semantics-green-02: #f4fbf6;
  --semantics-green-03: #e6f6eb;
  --semantics-green-04: #d6f1df;
  --semantics-green-05: #c4e8d1;
  --semantics-green-06: #adddc0;
  --semantics-green-07: #8eceaa;
  --semantics-green-08: #5bb98b;
  --semantics-green-09: #30a46c;
  --semantics-green-10: #2b9a66;
  --semantics-green-11: #218358;
  --semantics-green-12: #193b2d;

  // Amber
  --semantics-amber-01: #fefdfb;
  --semantics-amber-02: #fefbe9;
  --semantics-amber-03: #fff7c2;
  --semantics-amber-04: #ffee9c;
  --semantics-amber-05: #fbe577;
  --semantics-amber-06: #f3d673;
  --semantics-amber-07: #e9c162;
  --semantics-amber-08: #fac852;
  --semantics-amber-09: #ffc53d;
  --semantics-amber-10: #ffba18;
  --semantics-amber-11: #ab6400;
  --semantics-amber-12: #4f3422;

  //SkyBlue
  --semantics-skyblue-01: #f9feff;
  --semantics-skyblue-02: #f1fafd;
  --semantics-skyblue-03: #e1f6fd;
  --semantics-skyblue-04: #d1f0fa;
  --semantics-skyblue-05: #bee7f5;
  --semantics-skyblue-06: #a9daed;
  --semantics-skyblue-07: #8dcae3;
  --semantics-skyblue-08: #8ae6ff;
  --semantics-skyblue-09: #7ce2fe;
  --semantics-skyblue-10: #74daf8;
  --semantics-skyblue-11: #00749e;
  --semantics-skyblue-12: #1d3e56;
}
